body{
    background-color: black;
    color: white;
    align-items: center;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#b5c6e0,#ebf4f5);
}

a{
    font-style: none;
    color: red;
}

.footer{
    background-image: linear-gradient(#0e1c26,#2a454b,#294861);
    color: white;
    width: 100%;
}

.downcontent{
    margin-left: 500px;
    font-size: 30px;
    text-align: center;
    display: inline;
    width: 100%;
}

.head{
    margin-left: 400px;
    background-image: linear-gradient(#366f97,#c15efa,#e72083);
    padding: 70px;
    width: 38%;
    border-radius: 50px;
    margin-top: 20px;
}
nav{
    
    color: white;
    height: 120px;
    background-image: linear-gradient(#0e1c26,#2a454b,#294861);
}

.navigation{
    display: flex;
    padding: 5px;
    display: inline-flex;
    margin-left: 180px;
    font-size: larger;
}

.navigation li a{
    text-decoration: none ;
    color: white; 
    padding-right: 40px; 
    margin-right: 150px;
    background-color: black;
    padding: 10px;
    border-radius: 25px;
    transition: 0.5s;
}

.navigation li a:hover{
    background-color: white;
    color: black;
}

button{
    cursor: pointer;
    color: rgb(0, 0, 0); 
    font-size: larger; 
    margin-right: 50px;
     background-color: white; 
     border-radius: 10px; 
     border-style: none;
}

img{
    box-shadow: 10px 3px 12px black;
    transition: 1s;
    position: fixed;
}

input{
    border-radius: 10px; border-style: none;
}

iframe{
    border-radius: 20px; 
    width: 80%; 
    margin: 50px; 
    margin-left: 100px; 
    height: 30vh;
}

img:hover{
    scale: 1.1;
}

table{
    font-size: x-large;
}



.frame{
    height: 100%;
    width: 100%;
}

@media (max-width:738px) {
    body{
        background-color: black;
        color: white;
        align-items: center;
        float: left;
        align-content: center;
        font-family: 'Poppins', sans-serif;
        margin-left: 0;
        padding: 0;
        background-image: linear-gradient(#b5c6e0,#ebf4f5);
    }
    
    a{
        font-style:normal;
        color: red;
    }
    
    .footer{
        background-image: linear-gradient(#0e1c26,#2a454b,#294861);
        color: white;
        width: 100%;
    }
    
    .downcontent{
        margin-left: 500px;
        font-size: 30px;
        text-align: center;
        display: inline;
        width: 100%;
    }
    
    .head{
        /* margin-left: 138px;
        background-image: linear-gradient(#295270,#524175);
        padding: 70px;
        width: 68%;
        border-radius: 50px;
        margin-top: 80px;
        height: 1935px;
        font-size: xx-large; */

        margin-left: 100px;
        background-image: linear-gradient(#366f97,#c15efa,#e72083);
        padding: auto;
        width: 30%;
        border-radius: 50px;
        margin-top: 15px;
        font-size: small;
    }
    
    /* IMAGES */
    .taj{
        position: absolute;
        height: 200px; 
        margin-top: 150px; margin-left: 55px; border-radius: 25px;
    }
    
    .cuisine{
        position: absolute; 
        height: 250px; 
        margin-top: 450px; margin-left: 95px; border-radius: 25px;
    }
    
    .india{
        position: absolute;  
        height: 300px; 
        margin-right: 150px;
        margin-top: 150px; margin-left: 1220px; border-radius: 25px;
    }
    
    .diwali{
        position: absolute; 
        height: 230px; 
        margin-top: 550px; margin-left: 1200px; border-radius: 25px;
    }
    
    /* NAVIGATION STARTS */
    nav{
        color: white;
        height: 70px;
        background-image: linear-gradient(#0e1c26,#2a454b,#294861);
    }
    
    .navigation{
        padding: 5px;
        margin-left: auto;
        font-size: medium;
    }
    
    .navigation li a{
        text-decoration: none ;
        color: white; 
        justify-content: space-around;
        background-color: black;
        padding: 8px;
        border-radius: 25px;
        transition: 0.5s;
    }
    
    .navigation li a:hover{
        background-color: white;
        color: black;
    }
    
    button{
        cursor: pointer;
        color: black; 
        font-size: larger; margin-right: 50px; background-color: white; border-radius: 10px; border-style: none;
    }
    
    img{
        box-shadow: 0px 0px 12px black;
        transition: 1s;
        position: fixed;
    }
    
    input{
        border-radius: 10px; 
        border-style: none;
        font-size: medium;
    }
    
    iframe{
        border-radius: 20px; 
        width: 80%; 
        margin: 50px; 
        margin-left: 100px; 
        height: 30vh;
    }
    
    img:hover{
        scale: 1.1;
    }
    
    table{
        font-size: 25px;
    }
    
    /* .frame{
        height: 100%;
        width: 100%;
    } */
}